.activities {
  padding: 4rem $padding-x-mobile;
  background-color: $color-contrast;
  background-image:  radial-gradient(#230764e5 1.1px, transparent 1.1px), radial-gradient(#230764e5 1.1px, #0A192F 1.1px);
  background-size: 44px 44px;
  background-position: 0 0,22px 22px;
  
  @include laptop {
    padding: 10rem $padding-x 5rem;
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;

    @include tablet {
      flex-direction: row;
      justify-content: center; 
    }
  }

  &__title {
    align-self: flex-start;
  }
}
